body {
    font-size: 62.5%;
    background: #ffdee3;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.15rem;
    line-height: 2rem;
}
.wrapper {
    margin: auto;
    width: 75%;
    background-color: white;
    padding: 5%;
    padding-top: 3%;
}
h1, h2, h3 {
    font-family: "Amatic SC", serif;
    margin: 1px;
    padding: 1%;
    padding-top: 0;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
p, ul {
    margin: 1%;
    margin-top: 0;
}
